*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: #000;
}
.chat{
    width: 200px;
    height: 100px;
    overflow: hidden;
    color: #fff;
    background-color: #121212;
    margin: 10px;
    border-radius:  0 15px 15px 15px;
    padding: 10px;
    position: relative;
}
.message{
    /* padding: ; */
    /* margin-top: 10px; */
    padding: 10px 5px;
    background-color: #454242;
    border-radius: 10px;
}
.chat p:nth-child(2){
    /* position: absolute; */
    color: rgb(251, 130, 245);
    margin-top: -10px;
    margin-left: 0;
    font-weight: bold;
    padding: 0;
    margin-bottom: 5px;
}
.chat p:nth-last-child(2){
    position: absolute;
    bottom: 0;
    left: 10px;
    color: grey;
}
.chat p:nth-last-child(1){
    position: absolute;
    bottom: 0;
    right: 10px;
    color: grey;
}
.newCht{
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 0;
    background-color:       rgb(251, 130, 245); 
}
.chtbtn{
    position: absolute;
    top: 20px;
    right: 10px;
}
.chtedit{
    position: absolute;
    right: 5px;
    top: 5px;
}
.chtedit button{
    background-color: transparent;
    color: grey;
    border: 0;

}